<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".tutorial"), "http://www.railstutorial.org/" %>
    <%= t "by" %>
    <%= link_to t(".michael Hartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
